body {
  margin: 0;
  font-family: 'Playfair Display', 'Garamond', 'Baskerville', serif;
  justify-content: center;
  align-items: center;
  perspective: 1500px; 
  width: 100%;
  background-image: url('pictures/image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upperpart {
  z-index: 9999;
  background-image: url('https://i.postimg.cc/50yvQXc4/20241223-190745-0000.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 200px;
}

h1, h2 {
  font-size: 60px;
  font-family: "Fugaz One", serif;
  font-weight: bold;
  color: #F0F0E1;
  margin: 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
.h3:hover{
background-color: rgb(76, 72, 72);
color: white;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  margin-right: 400px;
  position: relative;
  z-index: 1;
}

h2 {
  margin-left: 150px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 5px; 
  background-color: rgb(255, 250, 250);
  z-index: 0;
  transition: width 1s ease-in-out, left 1s ease-in-out;
}

.wrapper:hover .line {
  width: calc(100% - 400px);
  left: 400px; 
}


button {
  width: 230px;
  background-color: #B4B4B4;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  font-size: 17px;
  margin: 5% auto;
}

footer {
  margin: 0;
  text-align: center;
  margin-top: 20%;
}


.invitation {
  width: 95%;
  margin: 20px auto;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  background-color: transparent;
  align-items: flex-start;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container1, .container3, .container5 {
  margin: 20px auto;
  height: auto;
  width: 75%;
  border-radius: 30px;
  background-color: #ADBAC0;
  padding: 20px;
  box-shadow: inset 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#secondvid, #thirdvid, #fourthvid {
  overflow: hidden;
  border-radius: 25px;
  width: 40%;
}

.container2, .container4, .container6 {
  width: 55%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h4 {
  font-size: 14px;
  font-family: "Rubik", serif;
  font-weight: 400;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

h5 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 3.5vh;
  color: #384959;
  text-align: left;
  margin: 0;
  padding: 0 10px;
  font-style:bold;
}

h5 {
  color: #274C77;
}

h6 {
  text-align: center;
}
.contact-us{
  margin-top: 100px;
  font-family: 'times new roman';
  padding-bottom: 50px;
}
.button {
  display: inline-block; 
  padding: 10px 20px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;

  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #0078ff; 
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}


.facebook-button:hover {
  background-color: rgb(4, 4, 101); 
  color:white;
}
.email-button:hover{
  background-color: red;
  color: white;
}
.map-button:hover{
  background-color: green;
  color: white;
}

.facebook-button {
  background-color: #ffffff; 
  color: rgb(35, 86, 255);
  margin-left: 140px;
}


.email-button {
  background-color:white; 
  color: red;
}
.map-button{
  background-color: White;
  color:green;
}

@media (max-width: 768px) {
  .upperpart {
    height: 250px;
  }

  h1, h2 {
    font-size: 28px;
  }

  .container1, .container3, .container5 {
    flex-direction: column;
  }

  button {
    width: 180px;
    font-size: 12px;
  }
}
